<h1>Editing article</h1>

<% if @article.errors.any? %>
	<h2>These are the errors in your article</h2>
	<ul>
  <% @article.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
	</ul>
<% end %>

<!--The turbo thing is added to make sure that the form page refreshes after the submit button is hit-->
<!-- Make sure there is no space between the opening brakcet and the form with -->
<%= form_with(model: @article,data: { turbo: false },local: true) do |f|%>
<p>
	<%= f.label :title%><br/>
	<%= f.text_field :title %>
</p>

<p>
	<%= f.label :description%><br/>
	<%= f.text_area :description%>
</p>

<p>
	<%= f.submit%>
</p>
<%end%>